{%extends '::base.html.twig'%}

{% block title %}
    {{parent()}} Saludo
{% endblock %}

{% block body %}

    {{producto}}

    <hr>
    <a href="{{path('miw_producto_getAll')}}">Volver</a>
{% endblock %}
